<div class="container mt-3">
    <h1>Lista de Tarefas</h1>
    <input [(ngModel)]="newTodo" (keyup.enter)="addTodo()" placeholder="Digite uma nova tarefa" />
    <ul class="list-group mt-3">
      <li *ngFor="let todo of todos; let i = index" class="list-group-item">
        <input type="checkbox" [(ngModel)]="todo.completed" (change)="toggleCompletion(i)" />
        <span [ngClass]="{ 'completed': todo.completed }">{{ todo.task }}</span>
        <span>Data de criação: {{ todo.createdAt | date: 'short' }}</span>
        <span *ngIf="todo.completed">
          <br />
          Concluído em: {{ todo.completionDate | date: 'short' }}
        </span>
        <button class="btn btn-danger btn-sm float-right" (click)="removeTodo(i)">Excluir</button>
      </li>
    </ul>
  </div>
  